body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: var(--light-blue-light-blue-100, #F3F5FC);
}

.image-ta {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    position: absolute;
top: 20px; 
left: 20px; 
}

.image-ta .image-t {
    width: 120px;
    height: 48px;
    flex-shrink: 0;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.input-container {
    position: relative;
    margin-left: 225px;
    margin-top: 168px;
position: absolute;
top: 20px; 
left: 20px; 

}


.input-container input[type="text"] {
    background: var(--color-main);
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    outline: none;
    border-color: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    color: var(--color-accent-1);
    resize: none;
    text-align: none ;
    
}

input[type="text"]:focus {
    border-color: #0A3871;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 800px;
}

button {
    width: 40%;
    height: 67px;
    border-radius: 25px;
    border: 1px;
    padding: 24px;
    gap: 8px;
}

.encrypt-button {
    width: 328px;
    height: 67px;
    border-radius: 25px;
    border: 1px;
    padding: 24px;
    gap: 8px;
    background-color: #0A3871;

}

.decrypt-button {
    width: 328px;
    height: 67px;
    border-radius: 25px;
    border: 1px;
    padding: 24px;
    gap: 8px;
    background-color: white;
    color: #0A3871;
}

.copy {
    width: 150px;
    height: 67px;
    border-radius: 25px;
    border: 1px;
    padding: 24px;
    gap: 8px;
    background-color: whitesmoke;
    color: #0A3871;
    margin-top: 370px;
}

.custom-button {
    position: absolute;
    bottom: 75px; 
    transform: translateX(1%);
  }
  


  .result {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar verticalmente */
    word-wrap: break-word; /* Dividir palabras largas */
    line-height: 1.2; /* Altura de línea */
  }

  .result p {
    color: var(--gray-gray-500, #343A40);
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0px 0; /* Ajusta el valor*/
  }

  .result #my-container  {
    color: var(--gray-gray-400, #495057);
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }


input.no-border {
    border: none;
    outline: none;
  }
  

.image-container {
    max-width: 90%;
    height: auto;
    margin: 40px auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 855px;
    flex-shrink: 0;
    float: right;
    max-width: 300px;
    margin-left: 40px;
}


.image-container img {
    width: 100%;
    height: auto;
}
